html {
	font-family: Arial, "Microsoft Yahei", "SimSun", sans-serif;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	-webkit-overflow-scrolling: touch;
	margin: 0;
	height: 100%;
	font-family: "Microsoft Yahei";
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: 0;
}

a,
button,
img,
input {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	background: 0 0;
	outline: 0;
	color: #000;
}

img {
	display: block;
	border: 0;
	width: 100%;
}

button,
input {
	border: 0;
	outline: 0;
}


body,
button,
input,
select,
textarea {
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%
}

address,
cite,
dfn,
em,
var {
	font-style: normal
}

code,
kbd,
pre,
samp {
	font-family: courier new, courier, monospace
}

small {
	font-size: 12px
}

ol,
ul {
	list-style: none
}

a {
	text-decoration: none
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

legend {
	color: #000
}

fieldset,
img {
	border: 0
}

button,
input,
select,
textarea {
	font-size: 100%
}

button {
	border-radius: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

* {
	padding: 0px;
	margin: 0px;
}

.el-breadcrumb {
	margin-bottom: 15px;
	font-size: 12px;
}

.el-card {
	box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table {
	margin-top: 15px;
	font-size: 12px;
}

.el-pagination {
	margin-top: 15px;
}
#app {
	height: 100%;
	min-width: 1366px;
}